*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    height: 40px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #53F1F1;
    width: 100%;
    top: 0px;
    z-index: 10;
}

.navButton{
    height: 40px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Darker Grotesque", "Helvetica";
    font-size: 22px;
    color: #F2FEFE;
}
:hover.navButton {
    background-color: #7AFB00;
}
.navButton a {
    color: inherit;
    text-decoration: none;
}
#Hero{
    margin-top: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.Carrusel{
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}
.Carrusel img{
    height: 100vh;
    margin-left: 0;
    margin-top: 0;
}
.botonCarrusel{
    background-color: #706BF4;
    border: blueviolet 1px solid;
    border-radius: 60%;
    color: #F2FEFE;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    height: 35px;
    width: 35px;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    font-family: "Be Vietnam";
}

#back{
    left: 10px;
}
#forward{
    right: 10px;
}
:hover.botonCarrusel{
    opacity: 0.80;
}

.sectionTitle{
    width: 100%;
    height: 85px;
    background-color: #A7FB56;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 10px 0px;
    font-family: "Euphoria Script";
}
.articleTitle{
    height: 70px;
    background-color: #C9FC99;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Mansalva";
    font-size: 28px;
    margin: 15px 0px;
}
.articleSubtitle{
    margin: 10px;
    font-size: 15px;
    font-family:"Be Vietnam";

}
.exp-article ul{
    list-style-type: circle;
    display: block;
    font-size: 12px;
    font-family: "Be Vietnam";
    padding: 15px;

}
.date {
    font-size: 13px;
    font-weight: bold;
    font-family: "Be Vietnam";
    padding: 20px;
}
.proyectLinkImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainAboutContent{
    display: flex;
}
.paragraph-container{
    font-family: "Be Vietnam";
    font-size: 12px;
    flex: 1;
    flex-basis: 75%;
    align-self: center;
}
.image-companion{
    flex: 0;
    flex-basis: 25%;
}
.image-companion img{
    height: 100%;
    width: 100%;
}
#ProfilePic{
    width: 50%;
}
#ProfileContainer{
    display: flex;
    justify-content: center;
}

#bar-Chart {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.bar-column{
    background-color: #17F0F0;
    margin: 0px 5px;
    color: #F2FEFE;
    font-family: "Be Vietnam";
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    opacity: 0.75;

}
:hover.bar-column{
    background-color:#0942df;
    opacity: 0.85;
}